.Button {
  background: none;
  border: none;
  appearance: none;
  color: var(--pallet-grey);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms;
  white-space: nowrap;
}
.Button:hover {
  text-decoration: none;
}

.Button--vertical {
  flex-direction: column;
}

.Button--primary {
  font-weight: 600;
  font-size: 20px;
  color: var(--pallet-grey);
  text-decoration: underline;
}

.Button--extrude {
  padding: 0;
}

.Button--extrude .Button__Target {
  transform: translate3d(-8px, -8px, 0);
  transition: transform 0.3s;
  background: var(--pallet-red);
  border-radius: 24px;
  padding: 0 4em;
  white-space: break-spaces;
}

.Button--extrude:hover .Button__Target {
  transform: translate3d(-12px, -12px, 0);
}

.Button--inverted {
  color: white;
}

.Button--inverted svg {
  fill: white;
}

.Button--stretch {
  width: 100%;
  max-width: 250px;
}

.Button--outline {
  background: none;
  border: 2px solid;
  border-radius: 24px;
  text-decoration: none;
  padding: 12px 40px;
}

.Button--icon {
  height: 48px;
}

.Button--square {
  height: 48px;
  width: 48px;
  padding: 0;
  line-height: 0;
}

.Button--small {
  font-size: 12px;
  font-weight: 300;
}

.Button__Spinner {
  margin: 0 8px;
}

.Button--circle,
.Button--circle .Button__Target {
  height: 144px;
  width: 144px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button--circle {
  background: var(--pallet-grey);
}

.Button--padded {
  padding: 0 32px 0 16px;
  text-decoration: none;
}

.Button--padded:hover,
.Button--outline:hover {
  text-decoration: underline;
}
