.Menu {
  list-style: none;
  display: flex;
  margin-left: -8px;
}

.Menu li {
  display: block;
  margin: 0 8px;
  font-weight: 600;
}

.Menu--vertical {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
